@media screen and (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;
        width: 98%;
        min-height: 90vh;
        align-self: center;
    }
    .tableContainer {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--neutral-300);
        border-radius: 8px;
        width: 100%;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    .table-title{
        text-align: center;
        margin-top: 10px;
    }
    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid var(--neutral-200);
    }
    th {
        background-color: var(--neutral-300);
        font-weight: bold;
    }
    tbody tr:nth-child(even) {
        background-color: var(--primary-100);
    }
    tbody tr.highlighted {
        background-color: var(--primary-500) !important;
        color: white;
    }
    .highlighted {
        background-color: var(--primary-400);
    }
    .search-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-bottom: 10px;
    }
    .search-container {
        display: flex;
        align-items: center;
        background: #D3D3D3;
        border-radius: 30px;
        padding: 2px;
        width: 200px;
    }
    .search-input {
        width: 50%;
        border: none;
        background: transparent;
        padding: 1px 4px;
        border-radius: 30px;
        outline: none;
        font-size: 10px;
    }
    .search-icon {
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }
    .search-icon img {
        width: 12px;
        height: 12px;
    }
    .filter-btn {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        padding: 4px 6px;
        font-size: 10px;
        font-weight: bold;
        cursor: pointer;
        border-left: 1px solid #888;
    }
    .filter-btn img {
        width: 12px;
        height: 12px;
        margin-left: 1px;
    }
    .pagination-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;
    }
    .pagination {
        display: flex;
        gap: 5px;
    }
    .pagination a {
        text-decoration: none;
        padding: 6px 12px;
        border: 1px solid var(--neutral-300);
        border-radius: 4px;
        color: var(--primary-500);
        background: var(--neutral-100);
    }
    .pagination a.active {
        background: var(--primary-500);
        color: white;
    }
    .pagination a:hover {
        background: var(--primary-400);
        color: white;
    }
    .footer-messages {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f4f4f4;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        border-top: 1px solid #ddd;
    }
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }
    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        width: 600px;
        max-width: 95%;
        text-align: center;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        align-self: center;
    }
    .input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 5px 0;
    }
    .input-container h1 {
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        margin: 0;
        width: 40%;
    }
    .center-text {
        width: 60%;
        font-size: 16px;
        text-align: left;
        font-weight: normal;
    }
    .confirmModal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        width: 600px;
        max-width: 95%;
        text-align: center;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }
    .input-container {
        position: relative;
        margin: 15px 0;
        width: 100%;
    }
    .input-container input,
    .input-container select,
    .input-container textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        font-size: 16px;
        background: transparent;
    }
    .input-container label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: 0.3s ease-out;
        background: white;
        padding: 0 5px;
        font-size: 16px;
        color: #666;
        pointer-events: none;
    }
    .input-container input:focus+label,
    .input-container input:not(:placeholder-shown)+label,
    .input-container select:focus+label,
    .input-container select:not(:placeholder-shown)+label,
    .input-container textarea:focus+label,
    .input-container textarea:not(:placeholder-shown)+label {
        top: 5px;
        font-size: 12px;
        color: #007BFF;
    }
     .modal-buttons {
        display: flex;
        align-items: right;
        margin-top: 15px;
    }
    .btnDefault {
        cursor: pointer;
        border-radius: 50px;
    }
    .btnDanger {
        border-radius: 50px;
        cursor: pointer;
    }
    .btnDefault:hover {
        background: #0056b3;
    }
    .btnDanger:hover {
        background: #c82333;
    }
    #editStatusModal .input-container select {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--neutral-300);
        border-radius: 4px;
        outline: none;
        font-size: 14px;
        background-color: white;
        color: #333;
        appearance: none;
        box-shadow: none;
    }
    #editStatusModal .input-container select:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
    }
    #editStatusModal .input-container label {
        position: absolute;
        top: -10px;
        left: 10px;
        font-size: 12px;
        color: var(--neutral-500);
        background: white;
        padding: 0 5px;
    }
}
@media screen and (min-width: 601px){
    .content {
        display: flex;
        flex-direction: column;
        width: 80%;
        min-height: 90vh;
        margin: 5% 0 0 260px;
        align-self: center;
    }
    .tableContainer {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--neutral-300);
        border-radius: 8px;
        width: 100%;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    .table-title{
        text-align: center;
        margin-top: 10px;
    }
    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid var(--neutral-200);
    }
    th {
        background-color: var(--neutral-300);
        font-weight: bold;
    }
    tbody tr:nth-child(even) {
        background-color: var(--primary-100);
    }
    tbody tr.highlighted {
        background-color: var(--primary-500) !important;
        color: white;
    }
    .highlighted {
        background-color: var(--primary-400);
    }
    .search-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-bottom: 10px;
    }
    .search-container {
        display: flex;
        align-items: center;
        background: #D3D3D3;
        border-radius: 30px;
        padding: 5px;
        width: 320px;
    }
    .search-input {
        flex: 1;
        border: none;
        background: transparent;
        padding: 10px;
        border-radius: 30px;
        outline: none;
        font-size: 14px;
    }
    .search-icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }
    .search-icon img {
        width: 16px;
        height: 16px;
    }
    .filter-btn {
        display: flex;
        align-items: center;
        background: transparent;
        border: none;
        padding: 8px 12px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        border-left: 1px solid #888;
    }
    .filter-btn img {
        width: 16px;
        height: 16px;
        margin-left: 5px;
    }
    .pagination-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 10px;
    }
    .pagination {
        display: flex;
        gap: 5px;
    }
    .pagination a {
        text-decoration: none;
        padding: 6px 12px;
        border: 1px solid var(--neutral-300);
        border-radius: 4px;
        color: var(--primary-500);
        background: var(--neutral-100);
    }
    .pagination a.active {
        background: var(--primary-500);
        color: white;
    }
    .pagination a:hover {
        background: var(--primary-400);
        color: white;
    }
    .footer-messages {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #f4f4f4;
        text-align: center;
        padding: 10px 0;
        font-size: 14px;
        font-weight: 500;
        color: #333;
        border-top: 1px solid #ddd;
    }
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }
    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        width: 600px;
        max-width: 95%;
        text-align: center;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
        align-self: center;
    }
    .input-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 5px 0;
    }
    .input-container h1 {
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        margin: 0;
        width: 40%;
    }
    .center-text {
        width: 60%;
        font-size: 16px;
        text-align: left;
        font-weight: normal;
    }
    .confirmModal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 8px;
        width: 600px;
        max-width: 95%;
        text-align: center;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }
    .input-container {
        position: relative;
        margin: 15px 0;
        width: 100%;
    }
    .input-container input,
    .input-container select,
    .input-container textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
        font-size: 16px;
        background: transparent;
    }
    .input-container label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        transition: 0.3s ease-out;
        background: white;
        padding: 0 5px;
        font-size: 16px;
        color: #666;
        pointer-events: none;
    }
    .input-container input:focus+label,
    .input-container input:not(:placeholder-shown)+label,
    .input-container select:focus+label,
    .input-container select:not(:placeholder-shown)+label,
    .input-container textarea:focus+label,
    .input-container textarea:not(:placeholder-shown)+label {
        top: 5px;
        font-size: 12px;
        color: #007BFF;
    }
     .modal-buttons {
        display: flex;
        align-items: right;
        margin-top: 15px;
    }
    .btnDefault {
        cursor: pointer;
        border-radius: 50px;
    }
    .btnDanger {
        border-radius: 50px;
        cursor: pointer;
    }
    .btnDefault:hover {
        background: #0056b3;
    }
    .btnDanger:hover {
        background: #c82333;
    }
    #editStatusModal .input-container select {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--neutral-300);
        border-radius: 4px;
        outline: none;
        font-size: 14px;
        background-color: white;
        color: #333;
        appearance: none;
        box-shadow: none;
    }
    #editStatusModal .input-container select:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-size: contain;
        background-repeat: no-repeat;
        pointer-events: none;
    }
    #editStatusModal .input-container label {
        position: absolute;
        top: -10px;
        left: 10px;
        font-size: 12px;
        color: var(--neutral-500);
        background: white;
        padding: 0 5px;
    }
}