@media only screen and (max-width: 600px) {
    .chat-container {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        height: 80vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background-color: #f9f9f9;
    }
    .message {
        margin: 10px 0;
        padding: 10px;
        border-radius: 10px;
        max-width: 60%;
        word-wrap: break-word;
    }
    .sent {
        background-color: #dcf8c6;
        align-self: flex-end;
        text-align: right;
    }
    .received {
        background-color: #f1f0f0;
        align-self: flex-start;
        text-align: left;
    }
    .input-area {
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 8px;
        padding: 0 8px;
    }
    .attach {
        padding: 10px;
        cursor: pointer;
        background-color: #ddd;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        margin-right: 5px;
    }
    input[type="text"] {
        flex: 1;
        padding: 10px;
    }
    button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }
    .container-convo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .convo-assigned {
        text-transform: uppercase;
        font-size: small;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .assigned-name {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        display: block;
        margin-top: 5px;
    }
    .sent {
        background-color: #d1ffd1;
        text-align: right;
    }
    .received {
        background-color: #f1f1f1;
        text-align: left;
    }
    .attachment {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .attachment-image {
        max-width: 300px;
        height: auto;
        border-radius: 5px;
        margin-top: 10px;
    }
    .no-messages {
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        color: #555;
    }
    .sidebar {
        width: 30%;
        display: flex-end;
        flex-direction: column;
        gap: 10px;
    }
    .chatbox-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 10px;
        width: 100%;
    }
    .search {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        border: none;
        outline: none;
    }
    #search {
        flex: 1;
        padding: 4px;
        font-size: 12px;
    }
    #searchBtn {
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
    }
    #searchBtn img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #searchBtn:hover {
        cursor: pointer;
    }
    #searchBtn:focus {
        outline: none;
    }
    #searchBtn:active {
        transform: scale(0.95);
    }
    #searchBtn:active img {
        transform: scale(0.95);
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 98%;
        height: 80vh;
        padding: 8px 0;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-left: none;
    }
    .card {
        width: 100%;
        max-height: 72px;
        background-color: #ffffff;
        border: 1px solid #f1f1f1;
        padding: 4px 12px;
        transition: all 120ms;
        cursor: pointer !important;
        margin: -1px 0 0 0;
    }
    .card:hover {
        background-color: var(--primary-300);
        border: 1px solid var(--primary-300);
    }
    .selected {
        background-color: var(--primary-300);
        border: 1px solid var(--primary-300);
    }
    .card * {
        font-weight: 500;
        font-size: 10px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .button-container {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    .btnWarning {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
    }
    .btnWarning img {
        width: 20px;
        height: 20px;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .modal-content {
        margin: auto;
        display: block;
        max-width: 60%;
        max-height: 60%;
        width: auto;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
    .close:hover,
    .close:focus {
        color: red;
        text-decoration: none;
        cursor: pointer;
    }
    .card.active {
        border: 2px solid #007bff;
        background-color: #f0f8ff;
    }   
}

@media only screen and (min-width: 600px) {
    body {
        font-family: Arial, sans-serif;
    }
    
    .chat-container {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        height: 80vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        background-color: #f9f9f9;
    }
    .message {
        margin: 10px 0;
        padding: 10px;
        border-radius: 10px;
        max-width: 60%;
        word-wrap: break-word;
    }
    .sent {
        background-color: #dcf8c6;
        align-self: flex-end;
        text-align: right;
    }
    .received {
        background-color: #f1f0f0;
        align-self: flex-start;
        text-align: left;
    }
    .input-area {
        display: flex;
        align-items: center;
        margin-top: 10px;
        gap: 8px;
    }
    .attach {
        padding: 10px;
        cursor: pointer;
        background-color: #ddd;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        margin-right: 5px;
    }
    input[type="text"] {
        flex: 1;
        padding: 10px;
    }
    button {
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }
    .container-convo {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
    }
    .convo-assigned {
        text-transform: uppercase;
        font-size: small;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1px;
        margin-top: 20px;
    }
    .assigned-name {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        display: block;
        margin-top: 5px;
    }
    .sent {
        background-color: #d1ffd1;
        text-align: right;
    }
    .received {
        background-color: #f1f1f1;
        text-align: left;
    }
    .attachment {
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
    .attachment-image {
        max-width: 300px;
        height: auto;
        border-radius: 5px;
        margin-top: 10px;
    }
    .no-messages {
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        color: #555;
    }
    .sidebar {
        width: 30%;
        display: flex-end;
        flex-direction: column;
        gap: 10px;
    }
    .chatbox-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 70%;
    }
    .search {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 180px;
    }
    #search {
        flex: 1;
        padding: 4px;
        font-size: 12px;
    }
    #searchBtn {
        width: 30px;
        height: 30px;
        border: none;
        background-color: transparent;
        padding: 0;
    }
    #searchBtn img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    #searchBtn:hover {
        cursor: pointer;
    }
    #searchBtn:focus {
        outline: none;
    }
    #searchBtn:active {
        transform: scale(0.95);
    }
    #searchBtn:active img {
        transform: scale(0.95);
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 20%;
        height: 80vh;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-left: none;
    }
    .card {
        width: 100%;
        max-height: 72px;
        background-color: #ffffff;
        border: 1px solid #f1f1f1;
        padding: 4px 12px;
        transition: all 120ms;
        cursor: pointer !important;
        margin: -1px 0 0 0;
    }
    .card:hover {
        background-color: var(--primary-300);
        border: 1px solid var(--primary-300);
    }
    .selected {
        background-color: var(--primary-300);
        border: 1px solid var(--primary-300);
    }
    .card h1 {
        font-size: 12px;
        margin: 2px 0;
        color: var(--black);
        font-weight: 500;
        cursor: pointer;
    }
    .button-container {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }
    .btnWarning {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 5px;
    }
    .btnWarning img {
        width: 20px;
        height: 20px;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .modal-content {
        margin: auto;
        display: block;
        max-width: 60%;
        max-height: 60%;
        width: auto;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
    .close:hover,
    .close:focus {
        color: red;
        text-decoration: none;
        cursor: pointer;
    }
    .card.active {
        border: 2px solid #007bff;
        background-color: #f0f8ff;
    }           
}